<%- include ../partials/head.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/step.min.css" />
<style>
    .general-form{
      margin: auto;
      background-color: lightsalmon;
      box-shadow: 10px 10px 5px rgb(231, 234, 236);
      padding: 20px;
      border-radius: 2%;
      /* min-width: 400px; */
    }
    .btn{
      border-radius: 0 !important;
    }
  </style>
<%- include ../partials/header.ejs %>
<main>
<form class="material-details mt-5" action="/publisher/createMaterial/step2" method="POST">
  <div class="container">
    <div class="col-lg-9 general-form">
      <h2 class="">Create your material!</h2>
      <div class="ui ordered steps">
        <div class="completed step">
          <div class="content">
            <div class="title">Step-1</div>
            <div class="description">About the material</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Step-2</div>
            <div class="description"><li>Upload your material</li><li>Create syllabus</li></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h6><i class="fas fa-exclamation-triangle"></i>Uploading facility is temporarily unavailable. Meanwhile you can add the public url of your pdf file uploaded on Google Drive.</h6>
        <input type="url" name="pdfUrl" class="form-control" id="file" accept="application/pdf" placeholder="Google Drive link of scanned pdf.  (eg: https://drive.google.com/file/d/1J7IJSDi1jZymH/view?usp=sharing)" required>
      </div>
      <!-- material id retrieved -->
      <input type="hidden" name="materialId" value="<%= materialId %>"/>
      <div class="form-group">
        <h5>Under guidance of:</h5>
        <input type="text" name="guidedBy" class="form-control" id="" placeholder="Professor's name">
      </div>
      <br>
      <div id="syllabus">
        <h3><strong>Topics covered(syllabus):</strong></h3>
        <div id="units">
          <div class="form-row unit">
            <div class="col-md-2 form-group">
              <h5 class="text-center">Unit 1:</h5>
            </div>
            <div class="col-md-7 form-group">
              <input type="text" name="unit[1]" class="form-control" id="unit1" placeholder="Unit title" required>  
            </div>
            <div class="col-md-3 form-group">
              <input type="number" name="start[1]" class="form-control" id="start1" placeholder="Page no.:" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="btn btn-success" type="button" id="add-unit" value="Add unit!"/>
        </div>                            
      </div>
      <hr>
      <button type="submit" id="verify-btn" class="btn btn-lg btn-primary">Submit for verification</button>
    </div>
  </div>
  </form>
</main>
<script>
  let unitNo = 1;
  $('#add-unit').on('click', () => {
    unitNo++;
    var newUnit = `
    <div class="form-row unit new-unit" id="unit${unitNo}">
      <div class="col-md-2 form-group">
        <h5 class="text-center">Unit ${unitNo}:</h5>
      </div>
      <div class="col-md-6 col-12 form-group">
        <input type="text" name="unit[${unitNo}]" class="form-control" id="unit${unitNo}" placeholder="Unit title" required>  
      </div>
      <div class="col-md-3 col-10 form-group">
          <input type="number" name="start[${unitNo}]" class="form-control" id="start${unitNo}" placeholder="Page no.:" required>
      </div>
      <div class="col-md-1 col-2 form-group">
          <input class="btn btn-danger" type="button" class="remove-unit" id="remove-unit${unitNo}" title="Remove Unit" data-toggle="tooltip" value="X" onclick="removeUnit()"/>
      </div>
    </div>`;
    $(`#remove-unit${unitNo - 1}`).css('display','none');
    $('#units').append(newUnit);
  });
  const removeUnit = (e) => {
    if(confirm('Are you sure? You want to remove this unit.')){
      $(`#unit${unitNo}`).remove();
      $(`#remove-unit${unitNo - 1}`).css('display','block');
      unitNo--;
    }
  }
</script>

<%- include ../partials/footer.ejs %>