<%- include ../partials/head.ejs %>


<%- include ../partials/header.ejs %>      
  <main>
    <form action="/publisher/signup" method="POST" class=" text-center">
      <button class="btn btn-primary mt-5" type="submit">Become a publisher @ kitaabx today!</button>
    </form>
  </main>
<%- include ../partials/footer.ejs %>